body{
  background-color: #040436;
}

.form-group
{
  width:300px;
  padding:10px; 
  border-radius: 20px;
  outline: none;
  border: none;
}

.btn-primary{
  width:100px;
  margin-left:20px;
  padding:10px;
  border-radius: 20px;
}

.btn-danger{
  width:100px;
  margin-left:20px;
  padding:10px;
  border-radius: 20px;
}



.todo-items {
  color: black;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  margin:20px;
  width:500px;
  background-color: rgb(71, 8, 243);
  border-radius: 20px;
  padding:20px;
}

.todo-items h4 {
  margin: 0;
}

.todo-items button {
  margin-left: 10px;
}

h4
{
  padding:10px;
}

.icon{
  padding:10px;
}
