html body{
  background: #f50766;
}

.todo-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-control
{
  border:1px solid green;
  width:500x;
  padding:10px; 
  border-radius: 20px;
  outline: none;
  border: none;
}

.btn-primary{
  width:100px;
  margin-left:20px;
  padding:10px;
  border-radius: 20px;
}

.btn-danger{
  width:100px;
  margin-left:20px;
  padding:10px;
  border-radius: 20px;
}

.todo-items {
  color: black;
  align-items: center;
  justify-content: space-between;
  margin:20px;
  width:450px;
  background-color: rgb(71, 8, 243);
  border-radius: 10px;
  padding:10px;
}

.todo-items h4 {
  margin: 0;
}

.todo-items button {
  margin-left: 10px;
}

h4
{
  padding:10px;
}

.icon{
  padding:10px;
  cursor:pointer
}
